/* Thời Khóa Biểu */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    
}

th, td {
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
}

th {
    color: yellow;
}

tr:nth-child(1) {
    background-color: green;
}

tr:nth-child(even) {
    background-color: aqua;
}

tr:nth-child(3) {
    background-color: burlywood;
}

tr:nth-child(5) {
    background-color: burlywood;
}


/* Thẻ Div Ảnh */
#boximage1 {
    width: 500px;
    border: 0px solid black;
    padding: 0;
    margin: auto;
}

body {
    background-image: url(../image/image1.jpg);
    /* Kỹ thuật background */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    position: relative;
    z-index: 0;
}